<div class="message" id="message-<%= message.id %>">
  <div class="left_message">
    <div class="your_message">
      <p class="your_message_name"><%= message.user.nickname %></p>
      <div class="your_message_content">
        <%= simple_format(h message.content) %>
      </div>
    </div>
  </div>
</div>