<h1>家族を選択してください</h1>

<div class="room_index_main">
  <ul class="family_lists">
    <% @rooms.each do |room| %>
      <li class="family_list"><%= link_to "#{room.name}", room_path(room), class:"family_button" %></li>
    <% end %>
  </ul>
</div>