
/* 全体の枠 */
.message {
//	height: 100vh;
//	background-color:rgb(113,147,193); /* LINEっぽい背景色 */
	padding:1em;
//	overflow:auto;
}
/* 右のトークボックス */
//.message .right_message:before { /* 左の丸アイコン */
//	content:'';
//	display:inline-block;
//	width:50px;
//	height:50px;
//	vertical-align:top;
//	border-radius:50%;
//	background-size:cover;
//	background-image:url(icon_left.jpg); /* ←アイコンはここを変更 */
//}
.message .your_message_content:before {  /* 左ふきだしの左三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid #85e249
}
.message .your_message_content { /* 左ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:#85e249;
	border-radius:10px;
	padding:10px;
	margin:0 0 0 10px;
}
/* 右のトークボックス */
//.message .right_message:after { /* 右の丸アイコン */
//	content:'';
//	display:inline-block;
//	width:50px;
//	height:50px;
//	vertical-align:top;
//	border-radius:50%;
//	background-size:cover;
//	background-position:-10px;
//	//background-image:url(icon_right.jpg);  /* ←アイコンはここを変更 */
//}
.message .right_message {
	float:right; /* 右のふきだしは全体的に右寄せ */
	margin-top:1em;
}
.message .my_message_content:after { /* 右ふきだしの右三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid #85e249;
}
.message .my_message_content { /* 右ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:#85e249;
	border-radius:10px;
	padding:10px;
	margin:0 10px 0 0;
}

.my_message_name {
  text-align: right;
}