// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
  padding: 25px 0;
}

//rooms.index.html.erb

.room_index_main {
  display: flex;
  justify-content: center;
}

.family_lists {
  width: 70vw;
}

.family_list {
  list-style: none;
}

.family_button {
  font-size: 300vh 300vw;
  list-style: none;
  width: 45%;
  height: 300px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  float: left;
  border-radius: 5%;
  font-size: 18pt;
  color: rgb(17, 0, 250);
  cursor: pointer;
  background: rgb(5, 241, 163);
  line-height: 1em;
  transition: .3s;
  box-shadow: 6px 6px 6px #666666;
  border: 2px solid rgb(36, 141, 4);
}

.family_button:hover {
  box-shadow: none;
  color: #333;
  background: #ffffff;
}

//rooms.new.html.erb

.rooms_new_main {
  height: 100vh;
  background: image-url('photo2.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms_new_head {
  text-align: center;
  margin-top: 15px;
  color: aliceblue;
}

.rooms_new_form {
  text-align: center;
  height: 60vh;
  width: 450px;
  background: rgba($color: white, $alpha: 0.6);
  text-align: center;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms_new_name_label {
  font-size: 20px;
}

.rooms_new_text_field {
  width: 80%;
  padding: 5px 0;
}

.rooms_new_form_title {
  font-size: 24px;
  font-weight: bold;
}

.rooms_new_footer {
  padding-top: 50px;
}

.rooms_new_link_button {
  text-decoration-style: none;
}

